<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">
	<!-- Daqui para cima é a unica coisa além do "<section layout:fragment="conteudo"></section>" 
	que é obrigatório para a importação do layout padrão -->
<head>
	<title>Cadastro Usuário</title>
</head>
<body>
	<section class="container" layout:fragment="conteudo">
		
		<div class="page-header">
			<div class="container-fluid">
				<h3>
					Cadastro Usuário
				</h3>
			</div>
		</div>
		
		<div class=" col-sm-10 container-fluid">
			<form method="POST" class="form-vertical  js-form-loading" th:object="${user}" th:action="@{/testeLogin/cadUsuario}">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="nome">Nome</label>
						<input id="nome" type="text" class="form-control" required="required" th:field="*{nome}"/>
					</div>
					<div class="col-sm-6 form-group">
						<label for="cpf">CPF</label>
						<input id="cpf" type="text" class="form-control" maxlength="11" minlength="11" pattern="[0-9]+$" required="required" th:field="*{cpf}"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="dataNasc">Data Nascimento</label>
						<input id="dataNasc" type="date" class="form-control" required="required" th:field="*{dataNasc}"/>
					</div>
					<div class="col-sm-4 form-group">
						<label for="tel">Tel</label>
						<input id="tel" type="tel" class="form-control" pattern="[0-9]+$"  maxlength="9" minlength="8" required="required" th:field="*{tel}"/>
					</div>
					<div class="col-sm-4 form-group">
						<label for="cel">Cel</label>
						<input id="cel" type="tel" class="form-control" pattern="[0-9]+$"  maxlength="9" minlength="8" required="required" th:field="*{cel}"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="cep">Cep</label>
						<input id="cep" type="text" class="form-control" pattern="[0-9]+$"  maxlength="11" minlength="11" required="required" th:field="*{cep}"/>
					</div>
					<div class="col-sm-6 form-group">
						<label for="rua">Rua</label>
						<input id="rua" type="text" class="form-control" required="required" th:field="*{rua}"/>
					</div>
					<div class="col-sm-2 form-group">
						<label for="num">Nº</label>
						<input id="num" type="number" class="form-control" maxlength="11" minlength="11" required="required" th:field="*{num}"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 form-group">
						<label for="compl">Complemento</label>
						<input id="compl" type="text" class="form-control" required="required" th:field="*{compl}"/>
					</div>
					<div class="col-sm-5 form-group">
						<label for="bairro">Bairro</label>
						<input id="bairro" type="text" class="form-control" required="required" th:field="*{bairro}"/>
					</div>
					<div class="col-sm-4 form-group">
						<label for="cid">Cidade</label>
						<input id="cid" type="text" class="form-control" required="required" th:field="*{cid}"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group">
						<label for="uf">UF</label>
						<input id="uf" type="text" class="form-control" required="required" th:field="*{uf}"/>
					</div>
					<div class="col-sm-5 form-group">
						<label for="email">E-mail</label>
						<input id="email" type="email" class="form-control" required="required" th:field="*{email}"/>
					</div>
				</div>
					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
			</form>
		</div>
		<div class="col-sm-2">
			<div id="datepicker"></div>
		</div>
	</section>	
</body>
</html>